$santa-red: #e74c3c;
$white: #f0f0f0;

body
{
	font-family: 'Open Sans', sans-serif;
	color: $white;
}

video
{
	object-fit: cover;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.ghost
{
	display: none !important;
}

h1
{
	margin: 0;
	font-family: 'Mountains of Christmas', cursive;
	font-weight: normal;
	font-size: 70px;
	text-shadow: 0px 3px 0px darken($santa-red, 10%);
	border-bottom: 1px solid rgba($white, 0.5);
}

p {
	margin: 20px 0;
}

.flex
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: rgba($santa-red, 0.75);

	position: relative;
	z-index: 2;
}

.inner
{
	width: calc(100% - 40px);
	padding: 20px;
	text-align: center;
	max-width: 700px;
	margin: 0 15px;
	position: relative;
}

ul
{
	margin: 0;
	padding: 0;

	li.name
	{
		list-style: none;
		display: inline-block;
		cursor: pointer;
		user-select: none;
		background: $white;
		padding: 20px;
		width: 100px;
		color: $santa-red;
		margin: 10px;
		border-radius: 3px;
		font-weight: bold;
		border: 1px solid $santa-red;
		position: relative;
		z-index: 2;
		transition: color 0.5s, opacity 0.25s;

		&::after {
			content: "";
			width: 0;
			height: 100%;
			background: $santa-red;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: -1;
			transition: width 0.5s;
		}

		&:hover {
			color: $white;

			&::after {
				width: 100%;
			}
		}

		&.chosen
		{
			// background: darken($santa-red, 20%);
			// box-shadow: inset 0px 0px 5px darken($santa-red, 50%);
			// position: absolute;
			background: $white;
			color: $santa-red;
			z-index: 10;

			&::after {
				display: none;
			}
		}

		&.not-chosen {
			opacity: 0.3;
		}
	}
}

#choose-name {
	background: none;
	color: $white;
	border: 1px solid $white;
	padding: 20px 0;
	border-radius: 50px;
	max-width: 150px;
	width: 100%;
	display: inline-block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: -70px;
	cursor: pointer;
	transition: color 0.25s, background 0.25s, max-width 0.25s;

	&:hover {
		background: $white;
		color: $santa-red;
	}

	&.result {
		max-width: 700px;
		background: $white;
		color: $santa-red;
		border-radius: 0;
		bottom: -90px;
		cursor: default;

		&:hover {
			background: $white;
			color: $santa-red;
			border-radius: 0;
		}

		a {
			text-decoration: none;
			border-bottom: 1px dotted $santa-red;
			color: $santa-red;
		}
	}

	.result-name {
		font-weight: bold;
		font-size: 22px;
	}
}
